/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

label {
    margin-bottom: 15px;
}

label span {
    display: block;
}

.setting-value {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    max-width: 400px;
    margin: 0;
}

.short-code-selector, .short-code-selector[readonly],
.short-code-selector:focus, .short-code-selector[readonly]:focus{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    box-shadow: none ;
    padding: 0;


}